<div class="jumbotron text-center">
</div>
<div class="container">
            <div class="row slideDown" id="animation_slideDown">
                <div class="col-md-12">
                	<button class="btn btn-default" ng-repeat = "category in categories" style="margin-bottom:20px; margin-right:20px;">{{category.name}}</button>
                    <!--button class="btn btn-default" ng-click="shoppingcartCat2()" style="margin-bottom:20px; margin-right:20px;"><a href="#">Cloth</a>
                    <button class="btn btn-default" ng-click="shoppingcartCat3()" style="margin-bottom:20px; margin-right:20px;"><a href="#">Cloth</a>
                    <button class="btn btn-default" ng-click="shoppingcartCat4()" style="margin-bottom:20px; margin-right:20px;"><a href="#">Cloth</a>
                   	<button class="btn btn-default" ng-click="shoppingcartCat5()" style="margin-bottom:20px; margin-right:20px;"><a href="#">Cloth</a-->
                 	
                    <!--a href="shoppingcart_right.php?category=1" class="btn btn-default" style="margin-bottom:20px; margin-right:20px;">Cloth</a><a href="shoppingcart_right.php?category=2" class="btn btn-default" style="margin-bottom:20px; margin-right:20px;">Apple</a><a href="shoppingcart_right.php?category=3" class="btn btn-default" style="margin-bottom:20px; margin-right:20px;">Cellphones</a><a href="shoppingcart_right.php?category=4" class="btn btn-default" style="margin-bottom:20px; margin-right:20px;">Books</a><a href="shoppingcart_right.php?category=5" class="btn btn-default" style="margin-bottom:20px; margin-right:20px;">Sports &amp; Outdoors</a><div class="visible-xs visible-sm" style="padding-bottom: 30px;"><a href="shoppingcart_view.php" class="btn btn-success">View shoppingcart</a></div-->
                </div>
            </div>
        </div>
