<div class="jumbotron text-center">
	<h1>Photo Page</h1>
	
	<p>{{ message }}</p>
</div>
<div class="container">
	<label>Search for photos</label>
	<ul class="color-list">
		<li ng-repeat="pcolor in colors" ng-model="colors" class="color-swatch" ng-style="{'backgroundColor':pcolor}"><a href="#" ng-click="loadColorPhoto()"></a></li>
		</ul>
	<form>	
	<input type="text" ng-model="photoType" placeholder="Search for photos">
	<button ng-click="loadPhoto()">Go</button>
    </form>
	<h1>{{photoType}}</h1>
	<div class="gallery-grids" ng-repeat="x in flickrPhotos">
		<div class="col-md-4 gallery-grid">
			 	<img id="photos" class="img-responsive" ng-src="{{x.url_m}}">		 			 	
	</div>		 	
	</div>
	</div>
</div>